body {
  padding: 0;
  margin: 0;

  background-color: $c-bg;
  color: $c-text;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  overflow-x: hidden;
  width: 100vw;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Arvo', 'Zen Kaku Gothic New', sans-serif;
  }

  // 文字の大きさ
  font-size: 18px;
  line-height: 1.5em;
  @media screen and (max-width: $screen-width-medium) {
    line-height: 1.35em;
  }
  @media screen and (max-width: $screen-width-small) {
    line-height: 1.2em;
  }
}

a {
  color: $c-link-text;

  &:visited {
    color: $c-link-text-visited;
  }
}