body > div.menu {
  padding: 0.3em;
  background-color: $c-bg;

  @media screen and (max-width: $screen-width-medium) {
    font-size: 1.25em;
    line-height: 1.5em;
  }

  ul {
    padding: 0 0 0 1em;

    li {
      list-style: none;
      line-height: 1.25em;

      @include insertImageBefore(0.8em, 0.8em, url('../icons/enabled.svg')) {
        margin-right: 0.2em;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    display: block;
  }

  h2 {
    border-left: 6px solid $c-def-white;
    margin: 0.2em 0;
    padding: 0.5em 0;
    padding-left: 0.4em;
  }

  h3 {
    margin: 0;
    padding: 0.4em 0;
  }

  .collapsible-controller {
    &:hover {
      background-color: $c-bg-hover;
    }
    &:active {
      background-color: $c-bg-active;
    }

    & + .collapsible {
      display: none;
    }
    &.expanded + .collapsible {
      display: inline-block;
    }
  }
}