<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.3/dist/katex.min.css" integrity="sha384-KiWOvVjnN8qwAZbuQyWDIbfCLFhLXNETzBQjA/92pIowpC0d2O3nppDGQVgwd2nB" crossorigin="anonymous">
  <title>{{ title }}</title>
  <script src="main.bundle.js"></script>
</head>
<body>
  <header>
    <div class="menu-button">
      <span class="material-icons md-36">&#xE5D2;</span>
    </div>
    <div class="title">
      <a href="#">Turing Complete Unofficial</a>
    </div>
    <div class="search">
      {{!-- <form>
        <input type="text">
        <button id="button-search">検索</button>
        <label for="button-search">
          <span class="material-icons md-36">&#xE8B6;</span>
        </label>
      </form> --}}
    </div>
  </header>
  <div class="menu">
    {{{ menu }}}
  </div>
  <main>
    {{{ content }}}
  </main>
</body>
</html>